<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <body th:fragment="comment">
        <i class="item-icon glyphicon glyphicon-comment bg-blue"></i>
        <div class="timeline-item">
            <span class="time" th:text="${{timeLineItem.createdTime}}"><i class="fa fa-clock-o"></i> 12:05</span>
            <h3 class="timeline-header"><a href="#" th:text="${timeLineItem.author.fullname}">Pascal Plewa</a> hat einen
                Kommentar verfasst</h3>
            <div class="timeline-body" th:text="${timeLineItem.commentItem.text}">Comment Text</div>
        </div>
    </body>
</html>
<!-- .Case Comment -->