<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="state">
	<!-- Switch newState -->
	<th:block th:switch="${timeLineItem.stateItem.newState}">
		<!-- State REQUESTED_SUBSTITUTE -->
		<th:block
			th:case="${T(de.maredit.tar.models.enums.State).REQUESTED_SUBSTITUTE}">
			<th:block th:if="${timeLineItem.stateItem.oldState == null}">
				<i class="item-icon glyphicon glyphicon-new-window new"></i>
				<div class="timeline-item">
					<span class="time"
						th:text="${{timeLineItem.created.toLocalDate() + ' ' + timeLineItem.created.toLocalTime()}}"><i
						class="fa fa-clock-o"></i></span>
					<h3 class="timeline-header">
						<a href="#" th:text="${timeLineItem.author.fullname}">Pascal
							Plewa</a>
						<th:block th:text="#{timeline.createVacation}" />
					</h3>
				</div>
			</th:block>
			<th:block th:unless="${timeLineItem.stateItem.oldState == null}">
				<i class="item-icon glyphicon pending-substitute edit-vacation"></i>
				<div class="timeline-item">
					<span class="time"
						th:text="${{timeLineItem.created.toLocalDate() + ' ' + timeLineItem.created.toLocalTime()}}"><i
						class="fa fa-clock-o"></i></span>
					<h3 class="timeline-header">
						<a href="#" th:text="${timeLineItem.author.fullname}">Pascal
							Plewa</a>
						<th:block th:text="#{timeline.editVacation}" />
					</h3>
				</div>
			</th:block>
		</th:block>
		<!-- .State REQUESTED_SUBSTITUTE -->

		<!-- State WAITING_FOR_APPROVEMENT -->
		<th:block
			th:case="${T(de.maredit.tar.models.enums.State).WAITING_FOR_APPROVEMENT}">
			<th:block th:if="${timeLineItem.stateItem.oldState == null}">
				<i class="item-icon glyphicon glyphicon-new-window new"></i>
				<div class="timeline-item">
					<span class="time"
						th:text="${{timeLineItem.created.toLocalDate() + ' ' + timeLineItem.created.toLocalTime()}}"><i
						class="fa fa-clock-o"></i></span>
					<h3 class="timeline-header">
						<a href="#" th:text="${timeLineItem.author.fullname}">Pascal
							Plewa</a> <th:block th:text="#{timeline.createVacation}" />
					</h3>
				</div>
			</th:block>
			<th:block
				th:if="${timeLineItem.stateItem.oldState == T(de.maredit.tar.models.enums.State).REQUESTED_SUBSTITUTE}">
				<i class="item-icon glyphicon pending-approvement approve-vacation"></i>
				<div class="timeline-item">
					<span class="time"
						th:text="${{timeLineItem.created.toLocalDate() + ' ' + timeLineItem.created.toLocalTime()}}"><i
						class="fa fa-clock-o"></i></span>
					<h3 class="timeline-header">
						<a href="#" th:text="${timeLineItem.author.fullname}">Pascal
							Plewa</a> <th:block th:text="#{timeline.acceptSubstitution}" />
					</h3>
				</div>
			</th:block>
			<th:block
				th:if="${timeLineItem.stateItem.oldState == T(de.maredit.tar.models.enums.State).APPROVED}">
				<i class="item-icon glyphicon pending-approvement edit-vacation"></i>
				<div class="timeline-item">
					<span class="time"
						th:text="${{timeLineItem.created.toLocalDate() + ' ' + timeLineItem.created.toLocalTime()}}"><i
						class="fa fa-clock-o"></i></span>
					<h3 class="timeline-header">
						<a href="#" th:text="${timeLineItem.author.fullname}">Pascal
							Plewa</a>  <th:block th:text="#{timeline.changeVacation}" />
					</h3>
				</div>
			</th:block>
		</th:block>
		<!-- .State WAITING_FOR_APPROVEMENT -->

		<!-- State APPROVED -->
		<th:block th:case="${T(de.maredit.tar.models.enums.State).APPROVED}">
			<i class="item-icon glyphicon approved approve-vacation"></i>
			<div class="timeline-item">
				<span class="time"
					th:text="${{timeLineItem.created.toLocalDate() + ' ' + timeLineItem.created.toLocalTime()}}"><i
					class="fa fa-clock-o"></i></span>
				<h3 class="timeline-header">
					<a href="#" th:text="${timeLineItem.author.fullname}">Pascal
						Plewa</a> <th:block th:text="#{timeline.acceptVacation}" />
				</h3>
			</div>
		</th:block>
		<!-- .State .APPROVED -->

		<!-- State REJECTED -->
		<th:block th:case="${T(de.maredit.tar.models.enums.State).REJECTED}">
			<i class="item-icon glyphicon rejected bg-red"></i>
			<div class="timeline-item">
				<span class="time"
					th:text="${{timeLineItem.created.toLocalDate() + ' ' + timeLineItem.created.toLocalTime()}}"><i
					class="fa fa-clock-o"></i></span>
				<h3 class="timeline-header">
					<a href="#" th:text="${timeLineItem.author.fullname}">Pascal
						Plewa</a> <th:block th:text="#{timeline.rejectVacation}" />
				</h3>
			</div>
		</th:block>
		<!-- .State REJECTED -->

		<!-- State CANCELED -->
		<th:block th:case="${T(de.maredit.tar.models.enums.State).CANCELED}">
			<i class="item-icon glyphicon rejected bg-red"></i>
			<div class="timeline-item">
				<span class="time"
					th:text="${{timeLineItem.created.toLocalDate() + ' ' + timeLineItem.created.toLocalTime()}}"><i
					class="fa fa-clock-o"></i></span>
				<h3 class="timeline-header">
					<a href="#" th:text="${timeLineItem.author.fullname}">Pascal
						Plewa</a> <th:block th:text="#{timeline.cancelVacation}" />
				</h3>
			</div>
		</th:block>
		<!-- .State CANCELED -->
	</th:block>
	<!-- .Switch newState -->
</body>
</html>
<!-- .Case Comment -->