.main-header .sidebar-toggle {

    .glyphicon {
        display: block;
        margin-top: 3px;
        height: 16px;
    }

    &:before {
        content: "";
    }
}

.content-wrapper {
    position: relative;
}

.has-error {
    .select2-container--default,
    .select2-selection--single {
        border-color: #dd4b39;
    }
}

.icheckbox_square-blue {
    margin-right: 5px;
}

.fc-month-view .fc-event-container .fc-time {
    display: none;
}

@media (max-width: 760px) {
    .navbar-form {
        border: none;
        margin: 0px;
    }
}

.main-header .logo {
     font-size:14px;
     font-weight:bold;
}