$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$vacation-approved: rgba(0, 141, 76, 1);
$vacation-pending: rgba(243, 156, 18, 1);
$vacation-rejected: rgba(221, 75, 57, 1);
$vacation-cancelled: rgba(202, 25, 90, 1);

$siijoo-orange: rgba(222, 136, 36, 1);
$siijoo-dark-purple: rgba(112, 81, 183, 1);
$siijoo-blue: rgba(72, 213, 249, 1);
$siijoo-dark-green: rgba(50, 197, 95, 1);
$siijoo-light-purple: rgba(183, 43, 178, 1);
$siijoo-red: rgba(180, 67, 91, 1);
$siijoo-light-green: rgba(168, 216, 49, 1);
$siijoo-light-green-opacity: rgba(168, 216, 49, 0.4);

$task-primary: rgba(50, 197, 95, 1);
$vacation-edit-primary: rgba(183, 43, 178, 1);
$vacation-new-primary: rgba( 0, 192, 239, 1);
