$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$white-opacity: rgba(255, 255, 255, 0.6);
$gray-darkest: rgba(51, 51, 51, 1);
$gray-medium: rgba(136, 136, 136, 1);
$gray: rgba(170, 170, 170, 1);
$gray-light: rgba(221, 221, 221, 1);
$black: rgba(0, 0, 0, 1);

$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-color-dark: rgba(0, 0, 0, 0.8);
$menu-border-dark: rgba(0, 0, 0, 0.4);
$menu-font-dark: rgba(0, 0, 0, 0.7);

$nav-gradient-top: rgba(100, 100, 104, 1);
$nav-gradient-bottom: rgba(133, 134, 138, 1);
$nav-over: rgba(0, 0, 255, 1);

$orange-light: rgba(235, 204, 173, 1);

$siijoo-orange: rgba(222, 136, 36, 1);
$siijoo-orange-opacity: rgba(222, 136, 36, 0.4);
$siijoo-dark-purple: rgba(112, 81, 183, 1);
$siijoo-blue: rgba(72, 213, 249, 1);
$siijoo-blue-opacity: rgba(72, 213, 249, 0.4);
$siijoo-dark-green: rgba(50, 197, 95, 1);
$siijoo-light-purple: rgba(183, 43, 178, 1);
$siijoo-red: rgba(180, 67, 91, 1);
$siijoo-light-green: rgba(168, 216, 49, 1);
$siijoo-light-green-opacity: rgba(168, 216, 49, 0.4);