.vacation-form {
	
	@include transition(background-color 0.2s linear);

	&.edit-vacation {
		background-color: $lightest-blue;
	}

	&.approve-vacation {
		background-color: $lightest-green;
	}

	input[readonly],
	textarea[readonly] {
		background-color: transparent;
	}

	@media (max-width: 760px) {
		.btn {
			width: 100%;
			margin-bottom: 10px;
		}
	}
}