<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="accountTable (account)">

    <table class="table table-hover table-condensed" th:with="completeBalance=${account.totalVacationDays} + ${account.previousYearOpenVacationDays}">
        <tr>
            <th th:text="#{field.entryText}">Buchungstext</th>
            <th th:text="#{field.dateFrom}">von</th>
            <th th:text="#{field.dateTo}">bis</th>
            <th th:text="#{field.days}">Tage</th>
            <th th:text="#{field.saldo}">Saldo</th>
        </tr>
        <tr th:if="${account.previousYearOpenVacationDays != 0}">
            <td th:text="#{field.leftDaysLastYear}">Resturlaub
                Vorjahr</td>
            <td />
            <td />
            <td th:text="${#numbers.formatDecimal(account.previousYearOpenVacationDays,1,1)}" />
            <td th:text="${#numbers.formatDecimal(account.previousYearOpenVacationDays,1,1)}" />
        </tr>
        <tr>
            <td th:text="#{field.creditAnnualVacation}">Gutschrift</td>
            <td />
            <td />
            <td th:text="${#numbers.formatDecimal(account.totalVacationDays,1,1)}" />
            <td th:text="${#numbers.formatDecimal(completeBalance,1,1)}" />
        </tr>
        <tr th:each="entry, iterator : ${account.entries}">
            <td >
                <th:block th:text="${entry.displayText}"/>
                <span th:if="${entry.starred}" >*</span>
            </td>
            <td th:text="${{entry.from}}" />
            <td th:text="${{entry.to}}" />
            <td th:text="${#numbers.formatDecimal(entry.days,1,1)}" />
            <td th:text="${#numbers.formatDecimal(entry.balance,1,1)}" />
        </tr>
    </table>

</body>
</html>