<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="taskList">
    <div class="panel panel-default module list-panel">
        <div class="panel-heading">Aufgaben:</div>
        <div class="panel-body task-list">
            <div class="list-group">
	                <a th:each="substitute : ${substitutes}" class="list-group-item" th:href="@{/vacation(id=${substitute.id})}">
				        <span th:text="${substitute.from + ' - '  + substitute.to}"></span>
                    	<strong th:text="${substitute.user.firstName + ' ' + substitute.user.lastName}"></strong> 
                    	<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				   </a>
            </div>
        </div>
    </div>
</body>
</html>