<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="taskList">
    <div class="panel panel-default approve-vacation module dashboard-panel">
        <div class="panel-heading"><th:block th:text="#{field.tasks}"/></div>
        <div class="panel-body">
            <div class="list-group" th:if="${substitutesForApproval.size() > 0}">
                <h3 class="list-group-item"><th:block th:text="#{field.substitutions}"/></h3>
                <a th:each="substitute : ${substitutesForApproval}" class="list-group-item" th:href="@{/vacation(id=${substitute.id},action='substitute')}">
                    <span th:unless="${substitute.halfDay}" th:text="${{substitute.from +' - '  + substitute.to}}"></span>
                    <span th:if="${substitute.halfDay}" th:text="|${{substitute.from}} #{${substitute.timeframe.get()}}|"></span>
                    <strong th:text="${substitute.user.lastname + ' - ' + substitute.user.firstname}"></strong>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a>
            </div>

            <div class="list-group" th:if="${approvals.size() > 0}">
                <h3 class="list-group-item"><th:block th:text="#{field.pendingApprovals}"/></h3>
                <a th:each="approval : ${approvals}" class="list-group-item" th:href="@{/vacation(id=${approval.id},action='approve')}">
                    <span th:unless="${approval.halfDay}" th:text="${{approval.from +' - '  + approval.to}}"></span>
                    <span th:if="${approval.halfDay}" th:text="|${{approval.from}} #{${approval.timeframe.get()}}|"></span>
                    <strong th:text="${approval.user.lastname + ', ' + approval.user.firstname}"></strong>
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>