<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="vacationList">

    <div class="panel panel-default module list-panel">
        <div class="panel-heading">Urlaube</div>
        <div class="panel-body vacation-list">
            <form action="#" role="form">
                <div class="form-group">
                    <label for="selectedEmployee">Mitarbeiter</label>
                    <select class="form-control autosubmit" style="width: 100%;" name="selectedEmployee" id="selectedEmployee">
                        <option value="oba">Barboza, Omar</option>
                        <option value="sku">Kubiak, Sven</option>
                        <option value="ppl">Plewa, Pascal</option>
                        <option value="bpr">Prenger, Björn</option>
                        <option value="czi">Zillmann, Claudine</option>
                    </select>
                </div>
            </form>
            <!-- Dummy Data -->

            <div class="list-group">
                <a class="list-group-item"  href="javascript:void(null);">
                    02.01.15 - 08.01.15
                    <span class="glyphicon approved" aria-hidden="true"></span>
                </a>
                <a class="list-group-item"  href="javascript:void(null);">
                    02.01.15 - 08.01.15
                    <span class="glyphicon pending" aria-hidden="true"></span>
                </a>
                <a class="list-group-item"  href="javascript:void(null);">
                    02.01.15 - 08.01.15
                    <span class="glyphicon rejected" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

</body>
</html>