<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="vacationList">
    <div class="panel panel-default module list-panel">
        <div class="panel-heading">Kurzübersicht</div>
        <div class="panel-body vacation-list">
            <form th:action="@{/}" role="form" method="post">
                <div class="form-group">
                    <label for="selectedEmployee">Mitarbeiter</label>
                    <select class="form-control autosubmit" style="width: 100%;" name="selected" id="selected">
	                    <option th:each="user : ${users}"
                                th:value="${user.username}"
                                th:selected="${selectedUser.username == user.username}"
                                th:text="${user.lastName +', '+ user.firstName}">
                        </option>
                    </select>
                </div>
            </form>
			<div class="list-group">
                <h3 class="list-group-item">Urlaube</h3>
			    <a th:each="vacation : ${vacations}" class="list-group-item" th:href="@{/vacation(id=${vacation.id},action='edit')}">
			        <span th:text="${vacation.from +' - '  + vacation.to}"></span>
			        <span th:class="${'glyphicon ' + vacation.state.get()}" aria-hidden="true"></span>
			    </a>
			</div>
			<div class="list-group">
                <h3 class="list-group-item">Vertretungen</h3>
                <a class="list-group-item" href="javascript:void(null);">
                    <span>04.04.2015 - 08.04.2015</span>
                </a>
                <a class="list-group-item" href="javascript:void(null);">
                    <span>04.04.2015 - 08.04.2015</span>
                </a>
                <a class="list-group-item" href="javascript:void(null);">
                    <span>04.04.2015 - 08.04.2015</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>