<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <footer class="main-footer" th:fragment="footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <span th:text="${@versionBean.applicationVersion}"></span> - Rev: <span
                th:text="${@versionBean.revision}"></span>
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2015 <a href="http://www.maredit.de">maredit
                GmbH</a>
        </strong>

    </footer>

</body>

</html>

