<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<header class="main-header" th:fragment="header">

		<!-- Logo -->
		<a href="/" class="logo">Urlaubsverwaltung</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">
			<img src="dist/img/logo.png" class="logo-image" alt="Logo" />
			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
				role="button"> <i class="glyphicon glyphicon-menu-hamburger"></i>
				<span class="sr-only">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu" th:object="${vacation}">
				<ul class="nav navbar-nav">
					<!-- User Account Menu -->
					<li class="dropdown user user-menu">
						<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <!-- The user image in the navbar--> <img
							src="dist/img/user2-160x160.jpg" class="user-image"
							alt="User Image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
							<span class="hidden-xs"
							th:text="*{user.firstName + ' ' + user.lastName}"></span>
					</a>
					</li>
					<li class="dropdown user user-menu">
						<div class="pull-right">
						<i class="fa fa-power-off"></i>
							<form th:action="@{/logout}" method="post">
								<button type="submit" class="btn btn-default btn-flat">
									Abmelden</button>
							</form>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</body>
</html>
