<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<header class="main-header" th:fragment="header">

		<!-- Logo -->
		<a href="/" class="logo">
			<th th:text="#{field.vacationmanagement}"></th>
		</a>

		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top" role="navigation">

			<!-- Sidebar toggle button-->
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
				role="button"> <i class="glyphicon glyphicon-menu-hamburger"></i>
				<span class="sr-only">Toggle navigation</span>
			</a>
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account Menu -->
					<li class="dropdown user user-menu"
						th:if="${loginUser.userImage != null}">
						<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <!-- The user image in the navbar--> <img
							th:src="@{${'data:image/jpeg;base64,'+ loginUser.userImage}}"
							class="user-image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
							<span class="hidden-xs"
							th:text="${loginUser.firstname + ' ' + loginUser.lastname}"></span>
					</a>
					</li>
					<li class="dropdown user user-menu"
						th:if="${loginUser.userImage == null}">
						<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
						data-toggle="dropdown"> <!-- The user image in the navbar--> <img
							src="../images/dummy_user_image.jpg" class="user-image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
							<span class="hidden-xs"
							th:text="${loginUser.firstname + ' ' + loginUser.lastname}"></span>
					</a>
					</li>
					<li>
						<div class="pull-right">
							<form th:action="@{/logout}" method="post">
								<button type="submit" class="btn btn-primary logout">
									<i class="glyphicon glyphicon-off"></i>
									<th th:text="#{field.signout}"></th>
								</button>
							</form>
						</div>
					</li>
					<li>
						<div>
							<select name="forma" onchange="location = this.options[this.selectedIndex].value;">
								<option value="?lang=de">Deutsch</option>
								<option value="?lang=en">Englisch</option>
							</select>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</header>
</body>
</html>
