<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

    <aside class="main-sidebar" th:fragment="sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">

                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="/"><span>Urlaubsplanung</span></a></li>
                <li><a href="timeline.html"><span>Timeline</span></a></li>
                <li><a href="calendar.html"><span>Kalender</span></a></li>
            </ul><!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

</body>
</html>