<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<div layout:fragment="content">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1>
						Urlaubsverwaltung <small>Kalenderansicht</small>
					</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-8">
					<p class="pull-right visible-xs info-toggle">
						<button type="button"
							class="btn btn-primary btn-xs offcanvas-toggle"
							data-toggle="filter">Infos</button>
					</p>
					<div class="panel panel-default">
						<div class="panel-heading">Kalender</div>
						<div class="panel-body">
							<div id="calendar"></div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4 module offcanvas-filter" id="sidebar">
					<div class="panel panel-default">
						<div class="panel-heading">Info-Panel</div>
						<div class="panel-body">
							<div class="list-group module calendar-filter"
								id="calendarFilter">
								<h3 class="list-group-item">Status-Filter</h3>
								<div class="list-group-item checkbox filter-approved">
									<label> <input type="checkbox" id="showApproved"
										checked="checked" />Genehmigte Urlaube
									</label>
								</div>
								<div class="list-group-item checkbox filter-pending">
									<label> <input type="checkbox" id="showPending" />Beantragte
										Urlaube
									</label>
								</div>
								<div class="list-group-item checkbox filter-cancelled">
									<label> <input type="checkbox" id="showCanceled" />Stornierte
										Urlaube
									</label>
								</div>
								<div class="list-group-item checkbox filter-rejected">
									<label> <input type="checkbox" id="showRejected" />Abgelehnte
										Urlaube
									</label>
								</div>
							</div>

							<div class="list-group" id="vacationDetail">
								<h3 class="list-group-item">Urlaubsdetails</h3>
								<div class="list-group-item module vacation-detail">
									<ul>
										<li><strong>Mitarbeiter:</strong></li>
										<li class="user">Björn Prenger</li>
										<li><strong>Typ</strong></li>
										<li>Mögliche Werte: Urlaub/Vertretung etc.</li>
										<li><strong>Status</strong></li>
										<li class="state">bestätigt</li>
										<li><strong>von - bis</strong></li>
										<li class="time">01.04.2015 - 04.04.2015</li>
										<li><strong>Vertreter</strong></li>
										<li class="substitute"></li>
										<li><strong>Vorgesetzter</strong></li>
										<li class="manager"></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

</html>