<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1 th:inline="text">
                        Übersicht Resturlaube [[${#dates.year(#dates.createNow())}]]
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-8 module employee-overview">
                    <p class="pull-right visible-xs info-toggle">
                        <button type="button" class="btn btn-primary btn-xs offcanvas-toggle" data-toggle="filter">Filter</button>
                    </p>

                    <div class="panel-group" id="accordion" role="tablist">
                        <!-- ein mitarbeiter -->
                        <div class="panel" th:each="userVacationAccount, iterator : ${userVacationAccounts}">

                            <div class="panel-heading" th:id="|heading${iterator.index}|">
                                <div class="progress-group">
                                	<a href="/userDetails" th:if="${#authorization.expression('hasRole(''SUPERVISOR'')')}" class="progress-text" th:text="${userVacationAccount.user.lastname + ', ' + userVacationAccount.user.firstname}">Username</a>
                                    <span th:unless="${#authorization.expression('hasRole(''SUPERVISOR'')')}" class="progress-text"
                                          th:text="${userVacationAccount.user.lastname + ', ' + userVacationAccount.user.firstname}">Username</span>
                                    <span class="progress-number">
                                        <b>
                                            <span th:text="${{userVacationAccount.totalVacationDays}}"
                                                  data-toggle="tooltip" data-placement="top"
                                                  title="Jahres-Gesamtanspruch">30</span>
                                            <span th:if="${userVacationAccount.previousYearOpenVacationDays > 0}"
                                                  th:text="${{'(+'+userVacationAccount.previousYearOpenVacationDays+')'}}"
                                                  data-toggle="tooltip" data-placement="top"
                                                  title="Resturlaub Vorjahr">(+0)</span>
                                        </b>
                                        <span>Gesamt</span>
                                        <!-- /*
                                        This is for TAR-130 to open the collapse-panel for more details
                                        <a data-toggle="collapse" data-parent="#accordion" th:href="|#collapse${iterator.index}|">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </a>
                                        */-->
                                    </span>

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success"
                                             th:style="|width: ${userVacationAccount.totalVacationDays &lt;= 0 ? 0 : userVacationAccount.approvedVacationDays/userVacationAccount.totalVacationDays * 100}%;|"
                                             data-toggle="tooltip" data-placement="top"
                                             th:title="|genehmigte Urlaubstage: ${{userVacationAccount.approvedVacationDays}}|">
                                            <span th:text="${{userVacationAccount.approvedVacationDays}}">genehmigte Urlaubstage</span>
                                        </div>
                                        <div class="progress-bar progress-bar-warning progress-bar-striped"
                                             th:style="|width: ${userVacationAccount.totalVacationDays &lt;= 0 ? 0 : userVacationAccount.pendingVacationDays/userVacationAccount.totalVacationDays * 100}%;|"
                                             data-toggle="tooltip" data-placement="top"
                                             th:title="|beantragte Urlaubstage: ${{userVacationAccount.pendingVacationDays}}|">
                                            <span th:text="${{userVacationAccount.pendingVacationDays}}">beantragte Urlaubstage</span>
                                        </div>
                                        <div class="progress-bar progress-bar-empty"
                                             th:style="|width: ${userVacationAccount.totalVacationDays &lt;= 0 ? 0 : userVacationAccount.openVacationDays/userVacationAccount.totalVacationDays * 100}%;|"
                                             data-toggle="tooltip" data-placement="top"
                                             th:title="|noch verfügbare Urlaubstage: ${{userVacationAccount.openVacationDays}}|">
                                            <span th:text="${{userVacationAccount.openVacationDays}}">noch verfügbare Urlaubstage</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div th:id="|collapse${iterator.index}|"
                                 class="panel-collapse collapse">
                                <div class="panel-body">

                                    <!--/*
                                    This is fpr TAR-130 more details for vacations of user in current year
                                    <table class="table table-hover table-condensed">
                                        <tr>
                                            <th>Buchungstext</th>
                                            <th>Urlaub von</th>
                                            <th>Urlaub bis</th>
                                            <th>Urlaubstage</th>
                                            <th>Saldo</th>
                                        </tr>
                                        <tr>
                                            <td>Gutschrift Jahresurlaub 2015</td>
                                            <td></td>
                                            <td></td>
                                            <td>30</td>
                                            <td>30</td>
                                        </tr>
                                        <tr>
                                            <td>Gutschrift Resturlaub 2014</td>
                                            <td></td>
                                            <td></td>
                                            <td>5</td>
                                            <td>35</td>
                                        </tr>
                                    </table>
                                    */-->

                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>

                        <!-- /ein mitarbeiter -->

                    </div>
                    <!-- /.panel-group -->
                </div>

                <div class="col-xs-12 col-sm-4 module offcanvas-filter" id="sidebar">
                    <div class="panel panel-default">
                        <div class="panel-heading">Info-Panel</div>
                        <div class="panel-body">
                            <form th:action="@{/overview}" role="form" method="post">
                                <div th:include="components/employeeFilter :: employeeFilter">
                                    employeeFilter
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
</html>