<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <h1>
                        Urlaubsverwaltung
                        <small>Übersicht Urlaubsanspruch</small>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-xs-12 col-sm-8 module employee-overview">
                    <div class="panel-group" id="accordion" role="tablist">
                        <!-- ein mitarbeiter -->
                        <div class="panel">

                            <div class="panel-heading" id="headingOne">
                                <div class="progress-group">
                                    <span class="progress-text">Björn Prenger</span>
                                    <span class="progress-number">
                                        12/30
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </a>
                                    </span>

                                    <div class="progress">
                                        <div class="progress-bar" style="width: 35%;">
                                            <span>12</span>
                                        </div>
                                        <div class="progress-bar progress-bar-warning progress-bar-striped"
                                             style="width: 60%;">
                                            <span>18</span>
                                        </div>
                                        <div class="progress-bar progress-bar-success"
                                             style="width: 5%;">
                                            <span>2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">

                                    <table class="table table-hover table-condensed">
                                        <tr>
                                            <th>Jahr</th>
                                            <th>Anspruch</th>
                                            <th>Rest Vorjahr</th>
                                            <th>
                                                <button class="btn btn-info new" name="new" id="new" type="submit">
                                                    Neu
                                                </button>
                                            </th>
                                        </tr>
                                        <tr class="new-form">
                                            <td class="year">
                                                <select class="form-control" id="year" name="year">
                                                    <option>2016</option>
                                                </select>
                                            </td>
                                            <td class="days-year">
                                                <input class="form-control" id="yearDays" name="yearDays"
                                                       type="number" step="0.5" value="30"/>
                                            </td>
                                            <td class="days-left"></td>
                                            <td>
                                                <button class="btn btn-info save-new" name="save-new" type="submit">
                                                    Speichern
                                                </button>
                                            </td>
                                        </tr>
                                        <tr class="edit-form">
                                            <td class="year">
                                               YEAR
                                            </td>
                                            <td class="days-year">
                                                <input class="form-control" id="yearDays"
                                                       type="number" step="0.5" value="30"/>
                                            </td>
                                            <td class="days-left">
                                                REST
                                            </td>
                                            <td>
                                                <button class="btn btn-info save-edit" name="save-edit" type="submit">
                                                    Speichern
                                                </button>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td class="year">2016</td>
                                            <td class="days-year">30</td>
                                            <td class="days-left"><span class="glyphicon pending"></span></td>
                                            <td>
                                                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="year">2015</td>
                                            <td class="days-year">30</td>
                                            <td class="days-left">-</td>
                                            <td>
                                                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="year">2014</td>
                                            <td class="days-year">29</td>
                                            <td class="days-left">-</td>
                                            <td>
                                                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="year">2013</td>
                                            <td class="days-year">28</td>
                                            <td class="days-left">-</td>
                                            <td>
                                                <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                            <!-- /.panel-body -->
                        </div>

                        <!-- /ein mitarbeiter -->

                    </div>
                    <!-- /.panel-group -->
                </div>


            </div>
        </div>
    </section>

</div>
</html>