<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">

<div layout:fragment="content">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<h1 th:inline="text">Benutzereinstellungen </h1>
				</div>
			</div>
		</div>
	</section>
	<section class="content">
		<div class="container-fluid">

			<div class="panel panel-default user-administration dashboard-panel">
				<div class="panel-heading" th:text="${user.lastname + ', '
						+ user.firstname}">Nachname, Vorname</div>
				<div class="panel-body">
					<form th:action="@{/updateDetails}" th:object="${user}" method="post"
						  role="form">
						<input type="hidden" th:field="*{id}" />

						<div class="alert alert-danger" role="alert"
							 th:if="${#fields.hasErrors('*')}">
							<ul>
								<li th:each="err : ${#fields.detailedErrors()}"
									th:text="${err.fieldName +' '+ err.message}">Input is
									incorrect</li>
							</ul>
						</div>

						<label for="vacationDays">Anspruch Jahresurlaub in Tagen</label>
						<div class="input-group" th:classappend="${#fields.hasErrors('vacationDays')}? 'has-error'">
							<input type="number" class="form-control" name="vacationDays"
								   id="vacationDays" step="0.5" th:field="*{vacationDays}" />
							<span class="input-group-btn">
								<button class="btn btn-success" type="submit">Speichern</button>
							</span>
						</div>
					</form>
				</div>
			</div>

		</div>
	</section>

</div>
</html>