<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="panel panel-default module vacation-form edit-vacation">
    <div class="panel-heading"><th th:text="#{field.vacationForm}"></th></div>
    <div class="panel-body">
        <!-- Error-handling: show alert box, when validation fails  -->

        <form th:action="@{/saveVacation}" th:object="${vacation}" method="post" role="form">
            <input type="hidden" th:field="*{id}"/>

            <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}">
                <ul>
                    <li th:each="err : ${#fields.detailedErrors()}"
                        th:text="${err.fieldName +' '+ err.message}">Input is incorrect
                    </li>
                </ul>
            </div>

            <div class="row">
                <div th:class="${#fields.hasErrors('user')}? 'col-xs-12 form-group has-error' : 'col-xs-12 form-group'">
                    <label for="employee" th:text="#{field.employee}">*</label>
                    <!--                     <input type="text" class="form-control" disabled="disabled" th:value="${vacation.user.lastname +', '+ vacation.user.firstname}" th:field="*{user}" /> -->
                    <select class="form-control" style="width: 100%;" name="employee" id="employee"
                            th:field="*{user}" th:readonly="${true}" th:if="${!disableInput}">
                        <option th:value="${vacation.user.id}" th:selected="true"
                                th:text="${vacation.user.lastname +', '+ vacation.user.firstname}">
                        </option>
                    </select>
                    <input th:if="${disableInput}" type="text" class="form-control" th:value="*{user.lastname+ ', ' + user.firstname}" disabled="disabled"/>
                </div>
            </div>

            <div class="row">
                <div th:class="${#fields.hasErrors('from')}? 'col-xs-6 form-group has-error' : 'col-xs-6 form-group'">
                    <label for="dateFrom" th:text="#{field.dateFrom}">*</label>

                    <div th:class="${disableInput ? 'input-group' : 'input-group date'}">
                        <input type="text" class="form-control" name="dateFrom" id="dateFrom"
                               th:field="*{from}" th:disabled="${disableInput}"/>
                        <span th:if="${!disableInput}" class="input-group-addon"><i
                                class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>

                <div th:class="${#fields.hasErrors('to')}? 'col-xs-6 form-group has-error' : 'col-xs-6 form-group'">
                    <label for="dateTo" th:text="#{field.dateTo}">*</label>

                    <div th:class="${disableInput ? 'input-group' : 'input-group date'}">
                        <input type="text" class="form-control" name="dateTo" id="dateTo"
                               th:field="*{to}" th:disabled="${disableInput}"/>
                        <span th:if="${!disableInput}" class="input-group-addon"><i
                                class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div th:class="${#fields.hasErrors('days')}? 'col-xs-6 form-group has-error' : 'col-xs-6 form-group'">
                    <label for="vacationDays" th:text="#{field.vacationDays}">*</label>
                    <input type="number" class="form-control" name="vacationDays" id="vacationDays"
                           step="0.5"
                           th:field="*{days}" th:disabled="${disableInput}"/>
                </div>

                <div th:class="${#fields.hasErrors('daysLeft')}? 'col-xs-6 form-group has-error' : 'col-xs-6 form-group'">
                    <label for="daysLeft" th:text="#{vacationDaysLeft}">*</label>
                    <input type="number" class="form-control" name="daysLeft" id="daysLeft"
                           step="0.5"
                           th:field="*{daysLeft}" th:disabled="${disableInput}"/>
                </div>
            </div>

            <div class="row">
                <div th:class="${#fields.hasErrors('substitute')}? 'col-xs-12 form-group has-error' : 'col-xs-12 form-group'">
                    <label for="replacement" th:text="#{field.replacement}"></label>
                    <select class="form-control" style="width: 100%;" name="replacement"
                            th:field="*{substitute}"
                            id="replacement" th:disabled="${disableInput}" th:if="${!disableInput}">
                        <option th:value="${null}"
                                th:selected="${vacation.substitute == substitute}">
                                <th th:text="#{field.noReplacement}"></th>
                        </option>
                        <option th:each="substitute : ${users}"
                                th:value="${substitute.id}"
                                th:selected="${vacation.substitute == substitute}"
                                th:text="${substitute.lastname +', '+ substitute.firstname}">
                            Mustermann, Max
                        </option>
                    </select>
                    <input th:if="${disableInput}" type="text" class="form-control" th:value="*{substitute != NULL ? substitute.lastname+ ', ' + substitute.firstname : ''}" disabled="disabled"/>
                </div>
            </div>

            <div class="row">
                <div th:class="${#fields.hasErrors('manager')}? 'col-xs-12 form-group has-error' : 'col-xs-12 form-group'">
                    <label for="superior" th:text="#{field.superior}">*</label>
                    <select class="form-control" style="width: 100%;" name="superior" id="superior"
                            th:field="*{manager}" th:disabled="${disableInput}" th:if="${!disableInput}">
                        <option th:each="manager : ${managers}"
                                th:value="${manager.id}"
                                th:selected="${vacation.manager == manager}"
                                th:text="${manager.lastname +', '+ manager.firstname}">
                            Mustermann, Max
                        </option>
                    </select>
                    <input th:if="${disableInput}" type="text" class="form-control" th:value="*{manager.lastname+ ', ' + manager.firstname}" disabled="disabled"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="comment" th:text="#{field.comment}"></label>
                    <textarea class="form-control" rows="5" name="comment" id="comment"
                              th:disabled="${disableInput}"></textarea>
                </div>
            </div>

            <a th:if="${disableInput} == false" th:href="@{/cancelVacation(id=${vacation.id})}"
               th:attr="data-message=#{message.cancel.vacation}"
				onclick="return confirm(this.getAttribute('data-message'));"
               class="btn btn-danger"><th th:text="#{field.cancel}"></th></a>
            <button type="submit" class="btn btn-success pull-right"
                    th:if="${disableInput} == false"><th th:text="#{field.update}"></th>
            </button>
        </form>
    </div>
</div>
</body>
</html>