<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="panel panel-default module vacation-form approve-vacation">
    <div class="panel-heading">Urlaubsformular</div>
    <div class="panel-body" th:object="${vacation}">
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="employee">Mitarbeiter</label>
                    <input type="text" class="form-control" th:value="*{user.firstname + ' ' + user.lastname}" disabled="disabled"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="dateFrom">von</label>
                    <input type="text" class="form-control" name="dateFrom" id="dateFrom" th:value="*{from}" disabled="disabled"/>
                </div>

                <div class="col-xs-6 form-group">
                    <label for="dateTo">bis</label>
                    <input type="text" class="form-control" name="dateTo" id="dateTo" th:value="*{to}" disabled="disabled"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 form-group">
                    <label for="vacationDays">Anzahl Urlaubstage</label>
                    <input type="number" class="form-control" name="vacationDays" id="vacationDays" th:value="*{days}"  disabled="disabled"/>
                </div>

                <div class="col-xs-6 form-group">
                    <label for="daysLeft">Verbleibende Urlaubstage</label>
                    <input type="number" class="form-control" name="daysLeft" id="daysLeft" th:field="*{daysLeft}" disabled="disabled"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="replacement">Vertreter</label>
                    <input type="text" class="form-control" th:value="*{substitute != NULL ? substitute.firstname + ' ' + substitute.lastname : ''}" disabled="disabled"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="superior">Zuständiger Vorgesetzter</label>
                    <input type="text" class="form-control" th:value="*{manager.firstname + ' ' + manager.lastname}" disabled="disabled"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label for="comment">Kommentar</label>
                    <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
                </div>
            </div>
             <a th:href="@{/substitution(id=${vacation.id}, approve=false)}" onclick="return confirm('Willst du die Vertretung wirklich ablehnen?');" class="btn btn-danger">ablehnen</a>
             <a th:href="@{/substitution(id=${vacation.id}, approve=true)}" onclick="return confirm('Willst du die Vertretung wirklich annehmen?');" class="btn btn-success pull-right">annehmen</a>
    </div>
</div>
</body>
</html>