.employee-overview {
    .progress-number a {
        margin-left: 10px;
    }

    .glyphicon {
        &.pending {
            vertical-align: middle;
            color: $vacation-pending;

            &:before {
                content:"\231b";
            }
        }
    }

    .progress-bar-empty {
        background-color: transparent;
        color: black;
    }

    .panel-group .panel-collapse h4 {
        text-align: center;
        margin-top: 0px;
    }

    .entry-info {
        font-size: smaller;
    }
}

#entry-form-panel {
    .entry-description {
        margin-bottom: 10px;
    }
}