@media (max-width: 760px) {

  .offcanvas-filter {
    display: none;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 20px;
    z-index: 5;

    &.active {
      display: block;
    }
  }
}

.offcanvas-toggle {
  position: relative;
  z-index: 6;
}