.list-panel {
	
	.task-list {
		a.list-group-item:focus,
		a.list-group-item:hover {
			background-color: $lightest-green;
		}
	}

	.vacation-list {
		a.list-group-item:focus,
		a.list-group-item:hover {
			background-color: $lightest-blue;
		}
	}
	
	.glyphicon {
		float: right;

		&.pending {
			color: #f39c12;
			&:before {
				content:"\231b";
			}
		}

		&.approved {
			color: #008d4c;
			&:before {
				content:"\e013";
			}
		}

		&.rejected {
			color: #dd4b39;
			&:before {
				content:"\e014";
			}
		}
	}

}