<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for Vacation Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        <th th:text="#{mail.salutation}"></th><span th:text="${employee}">Welt!</span>!<br />
    </p>

    <p> <th th:text="#{mail.vacation.dateFrom}"></th> <span th:text="${fromDate}">FROM</span> <th th:text="#{field.dateTo}"/> <span th:text="${toDate}">TO</span><th th:text="#{mail.text.wasCommentedBy}"/><span th:text="${author}">AUTHOR</span> </p>
    
    <p><span th:text="${text}"></span></p>

    <p>
        &lt;<a th:href="@{${urlToVacation}}"><th th:text="#{mail.urlToVacation}"/></a><th th:text="#{mail.urlToVacationText}"/>
    </p>

    <p> <th th:text="#{mail.signature}"></th></p>
</body>
</html>
