<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for Vacation Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        <th:block th:text="#{mail.salutation}"/> <span th:text="${employee}">Welt!</span>!<br />
    </p>

    <p> <th:block th:text="#{mail.vacation.dateFrom}"/> <span th:text="${fromDate}">FROM</span> <th:block th:text="#{field.dateTo}"/> <span th:text="${toDate}">TO</span><th:block th:text="#{mail.text.wasCommentedBy}"/><span th:text="${author}">AUTHOR</span> </p>
    
    <p><span th:text="${text}"></span></p>

    <p>
        &lt;<a th:href="@{${urlToVacation}}"><th:block th:text="#{mail.urlToVacation}"/></a><th:block th:text="#{mail.urlToVacationText}"/>
    </p>

    <p> <th:block th:text="#{mail.signature}"/></p>
</body>
</html>
