<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for Vacation Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p> Hallo, <span th:text="${employee}">Welt!</span> </p>

    <p> Die Vertretung für folgenden Urlaub wurde akzeptiert! Hier sind die Details: </p>
    
    <p> <b>Name des Vorgesetzten:</b> <span th:text="${manager}">Max Mustermann</span> </p>

    <p> <b>Name des Stellvertreters:</b> <span th:text="${substitute}">Max Mustermann</span> </p>

    <p> <b>Beantragte Urlaubszeit:</b> <ul>
        <li>Von: <span th:text="${fromDate}">vonDatum</span> </li>
        <li>Bis: <span th:text="${toDate}">bisDatum</span> </li> </ul> </p>

    <p> Gr&uuml;&szlig;e, <br /> &emsp; <em>Dein TaR-Team</em> </p>
</body>
</html>