<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for Vacation Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>
        <th:block th:text="#{mail.salutation}"/> <span th:text="${manager}">Welt!</span>!<br />
        <th:block th:if="${not #strings.isEmpty(substitute)}"><th:block th:text="#{mail.salutation}"/> <span th:text="${substitute}">Welt!</span>!</th:block>
    </p>

    <p> <span th:text="${employee}">Welt!</span> <th:block th:text="#{mail.text.applyFor.vacation}"/></p>
    
    <p> <b><th:block th:text="#{mail.superior}"/></b> <span th:text="${manager}">Max Mustermann</span> </p>

    <p> <b><th:block th:text="#{mail.replacement}"/></b> <span th:text="${#strings.isEmpty(substitute) ? '-': substitute }">Max Mustermann</span> </p>

    <p> <b><th:block th:text="#{mail.vacation.time}"/></b> <ul>
        <li><th:block th:text="#{mail.dateFrom}"/> <span th:text="${fromDate}">vonDatum</span> </li>
        <li><th:block th:text="#{mail.dateTo}"/> <span th:text="${toDate}">bisDatum</span> </li> </ul> 
	</p>
    <p> <b><th:block th:text="#{mail.totalDays}"/></b> <span th:text="${#numbers.formatDecimal(totalDays,0,1)}">Tage</span> </p>

    <p> <b><th:block th:text="#{mail.leftDays}"/></b> <span><th:block th:text="${#numbers.formatDecimal(leftDays,1,1)}">restTage</th:block><th:block th:if="${leftDaysLastYear > 0}" th:text="${' + ' + #numbers.formatDecimal(leftDaysLastYear,0,1)}"/></span> </p>

    <th:block th:if="${not #strings.isEmpty(createdBy)}">
        <p> <b><th:block th:text="#{mail.createdBy}"/></b> <span th:text="${createdBy}">createdBy</span> </p>
    </th:block>

    <th:block th:if="${not #strings.isEmpty(comment)}">
        <p> <b><th:block th:text="#{field.comment} + ';'"/></b><br/>
        <span th:text="${comment}">KOMMENTAR</span>
        </p>
    </th:block>

    <p>
        &lt;<a th:href="@{${urlToVacation}}"><th:block th:text="#{mail.urlToVacation}"/></a>
        <th:block th:text="#{mail.urlToVacationText}"/>
    </p>

    <p> <th:block th:text="#{mail.signature.employee}"/> <em> <th:block th:text="#{mail.signature.yourTeam}"/><span th:text="${employee}">Welt</span>) </em> </p>
</body>
</html>
