<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for Vacation Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p> <th th:text="#{mail.salutation}"/> <span th:text="${employee}">Welt!</span> </p>

    <p th:text="#{mail.text.change.vacation}"> Vacation details </p>

    <table>
        <thead>
        	<tr>
                <td/>
                <td><b><th th:text="#{mail.oldValue}"></th></b></td>
                <td><b><th th:text="#{mail.newValue}"></th></b></td>
            </tr>
        </thead>
        <tr>
            <td>
                <b><th th:text="#{mail.superior}"></th></b>
            </td>
            <td>
                <span th:text="${manager_old}">Max Mustermann</span>
            </td>
            <td>
                <span th:text="${manager}">Max Mustermann</span>
            </td>
        </tr>
        <tr>
            <td>
                <b><th th:text="#{mail.replacement}"></th></b>
            </td>
            <td>
                <span th:text="${substitute_old}">Max Mustermann</span>
            </td>
            <td>
                <span th:text="${substitute}">Max Mustermann</span>
            </td>
        </tr>
        <tr>
            <td>
                <b><th th:text="#{mail.vacation.time}"></th></b>
            </td>
            <td>
                <ul>
                    <li><th th:text="#{mail.dateFrom}"></th> <span th:text="${fromDate_old}">vonDatum</span> </li>
                    <li><th th:text="#{mail.dateTo}"></th> <span th:text="${toDate_old}">bisDatum</span> </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li><th th:text="#{mail.dateFrom}"></th> <span th:text="${fromDate}">vonDatum</span> </li>
                    <li><th th:text="#{mail.dateTo}"></th> <span th:text="${toDate}">bisDatum</span> </li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <b><th th:text="#{mail.vacation.time}"></th></b>
            </td>
            <td>
                <span th:text="${totalDays_old}">Tage</span>
            </td>
            <td>
                <span th:text="${totalDays}">Tage</span>
            </td>
        </tr>
        <tr>
            <td>
                <b><th th:text="#{mail.vacation.leftDays}"></th></b>
            </td>
            <td>
                <span th:text="${leftDays_old}">Tage</span>
            </td>
            <td>
                <span th:text="${leftDays}">Tage</span>
            </td>
        </tr>
    </table>

    <p> <th th:text="#{mail.modifiedBy}"></th> <span th:text="${modifiedBy}">Bearbeiter</span></p>

    <th:block th:if="${not #strings.isEmpty(comment)}">
        <p> <b><th th:text="#{field.comment} + ';'"></th></b><br/>
        <span th:text="${comment}">KOMMENTAR</span>
        </p>
    </th:block>

    <p>
        &lt;<a th:href="@{${urlToVacation}}"><th th:text="#{mail.urlToVacation}"></th>
    </p>

    <p th:text="#{mail.signature}"> Signature </p>
</body>
</html>
