<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for Vacation Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p> <th th:text="#{mail.salutation}"/> <span th:text="${employee}">Welt!</span> </p>

    <p> <th th:text="#{mail.text.cancel.vacation}"/></p>
    
    <p> <b><th th:text="#{mail.superior}"/></b> <span th:text="${manager}">Max Mustermann</span> </p>

    <p> <b><th th:text="#{mail.replacement}"/></b> <span th:text="${substitute}">Max Mustermann</span> </p>

    <p> <b><th th:text="#{mail.vacation.time}"/></b> <ul>
        <li><th th:text="#{mail.dateFrom}"></th> <span th:text="${fromDate}">vonDatum</span> </li>
        <li><th th:text="#{mail.dateTo}"></th> <span th:text="${toDate}">bisDatum</span> </li> </ul> </p>

    <th:block th:if="${not #strings.isEmpty(comment)}">
        <p> <b><th th:text="#{field.comment} + ';'"></th></b><br/>
        <span th:text="${comment}">KOMMENTAR</span>
        </p>
    </th:block>

    <p th:text="#{mail.signature}"> Signature </p>
</body>
</html>
