<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Template for Vacation Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p> <th th:text="#{mail.salutation}"/> <span th:text="${employee}">Welt!</span> </p>

	<p> <th th:text="#{mail.text.change.vacation}"/> </p>
	
	<p> <b><th th:text="#{mail.superior}"/></b> <span th:text="${manager}">Max Mustermann</span> </p>

	<p> <b><th th:text="#{mail.replacement}"/></b> <span th:text="${substitute}">Max Mustermann</span> </p>

    <p> <b><th th:text="#{mail.vacation.time}"/></b> <ul>
        <li><th th:text="#{mail.dateFrom}"></th> <span th:text="${fromDate}">vonDatum</span> </li>
        <li><th th:text="#{mail.dateTo}"></th> <span th:text="${toDate}">bisDatum</span> </li> </ul> 

	<p> <b><th th:text="#{mail.totalDays}"/></b> <span th:text="${totalDays}">Tage</span> </p>

	<p> <b><th th:text="#{mail.leftDays}"/></b> <span th:text="${leftDays}">restTage</span> </p>

	<th:block th:if="${modifiedBy} != null">
		<p> <th th:text="#{mail.modifiedBy}"/> <span th:text="${modifiedBy}">Bearbeiter</span></p>
	</th:block>

	<p> <th th:text="#{mail.signature}"/> </p>
</body>
</html>
